.box {
    width: 600px;
    border: 1px solid #c7c6c6;
    border-radius: 15px;
    overflow: hidden;
}

.transaction_history {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

thead {
    font-size: 12px;
    text-transform: uppercase;
    background-color: rgb(138, 203, 247);
    color: #fff;
}

tbody {
    width: 100%;
    color: rgb(131, 130, 130);
}

tbody tr:nth-child(2n + 1) {
    background-color: #ffffff;
}

tbody tr:nth-child(2n) {
    background-color: #dfdddd;
}

tbody td:not(:last-child) {
    border-right: 1px solid #c7c6c6;
}

th,
td {
    padding: 20px 0;
}

th:not(:last-child) {
    border-right: 1px solid rgb(247, 245, 245);
}

td:first-child {
    padding-left: 80px;
    text-transform: capitalize;
}

td:not(:first-child) {
    text-align: center;
}
