.statistics {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 20px;

    background-color: rgb(244, 248, 235);
    overflow: hidden;
}

.title {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
}

.stat_list {
    width: 100%;
    height: 100px;
    display: flex;
}

.item {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #193527;
}

.label {
    color: #fff;
}

.percentage {
    color: #fff;
    font-size: 24px;
}
