* {
    margin: 0;
    padding: 0;
}

body {
    padding: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: rgb(218, 216, 216);
}

ul {
    list-style: none;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
